.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: 2px solid var(--color-light-900);
  border-radius: 2px;

  &.checked {
    background-color: var(--color-light-100);
    border: 0;
  }

  &:focus {
    background-color: var(--color-dark-100);
  }

  &:disabled {
    cursor: initial;
    border-color: var(--color-dark-100);
  }

  &[data-state='checked']:disabled {
    background-color: var(--color-dark-100);
  }
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background-color: rgb(255 255 255 / 0%);
  border-radius: 50%;

  &.disabled {
    cursor: initial;
  }

  &:focus-within,
  &:hover:not(.disabled),
  &:hover .root:not([data-state='checked']) {
    background-color: var(--color-dark-500);
  }

  &:active:not(.disabled) {
    background-color: var(--color-dark-100);
  }
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--color-light-100);

  &.disabled {
    color: var(--color-dark-100);
  }
}
